*{
    box-sizing: border-box;
    text-align: center;
}
body{
    transition: 1s;
    margin:0;
    background-color:#2D192B;
    color:#93F8F4;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.table{
    display: table;
    width:100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
.cell{
    display: table-cell;
    vertical-align: middle;
}
.container{
    max-width: 1000px;
    font-size: 0;
    margin: 0 auto;
}
.getColor{
    font-size: 12px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 1);
    display:inline-block;
    padding: 8px 10px;
    position: fixed;
    top: 10px;
    right:0;
}
back{
    margin:0 3px;
    padding: 5px 6px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    text-align: center;
}
a{
    color: inherit;
    text-decoration: inherit;
    border-bottom:2px dashed rgba(255, 255, 255, 0.5);
    padding-bottom:2px;
}
h1{
    font-size:32px;
    font-family: 'Roboto Slab', serif;
}
h2{
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    padding-top: 30px;
}
p{
    font-size:21px;
    line-height: 35px;;
}
.main{
    max-width: 1000px;
    margin:0 auto;
}
ul{
    margin:0;
    padding:0;
}
li{
    padding: 5px 10px;
    margin:5px;
    display: inline-block;
    background-color:#93F8F4;
    color:#2D192B;
    border-radius:3px;
    font-family: 'Roboto Slab', serif;
    font-size:12px;
    user-select: none;
}
.showcase{
    border:5px solid #93F8F4;
    height: 300px;
    width:500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
}
.upwork{
    height:768px;width:484px;
}
.examples div{
    width:50%;
    display: inline-block;
    font-size:21px;
    line-height: 35px;
    padding:10px;
}
.examples div div{
    display:block;
    height: 300px;
    width:450px;
    margin:10px auto;
}
.examples{
    font-size:0;
}

@media only screen and (max-width: 500px) {
    .examples div{
        width: 100vw;
    }
    .examples div div{
        display:block;
        height: 50vh;
        width:90vw;
    }
    
.upwork{
    
    height: 80vh;width:90vw;
}
}