body > :last-child {
    display: none;
}
body > :nth-last-child(2) {
    display: none;
}
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Contrail One', cursive;
    background-color:#4B144D;
    color:white;
}
h1{
    font-size:60px;
}
#zero{
    font-size: 24px;
    font-weight: bold;
    line-height: 57px;
}
input{
    width: 150px;
    height: 41px;
    font-size: 24px;
    font-family: inherit;
    text-align: center;
    border-radius: 2px;
    border: 0;
    vertical-align: middle;
    font-weight: bold;
}
.table{
    display: table;
    width:100vw;
    height: 100vh;
    text-align: center;
}
.cell{
    display: table-cell;
    vertical-align: middle;
}
.container{
    max-width: 1000px;
    font-size: 0;
    margin: 0 auto;
}
.color{
    font-size:initial;
    width: 50%;
    display: inline-block;
}
.box{
    width:80%;
    height: 300px;
    border: 10px dashed white;
    margin:0 auto;
    cursor:pointer;
}
#getPing{
    font-size: 32px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 1);
    display:inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hexcode{
    min-height:65px;
    line-height: 65px;
    color:#CFD8DC;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
}
.maker{
    position: absolute;
    width: 100vw;
    bottom:3px;
    left: 0;
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color:rgba(255, 255, 255, 0.5);
}
a{
    color: inherit;
    text-decoration: inherit;
}
.maker a{
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 1000px) {
h1{
    font-size:32px;
}
}